<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/style.css">
    <link rel="icon" type="image/png" href="img/favicon.png">
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css"
    />
    <title>Login Page</title>
  </head>
  <body>

    <nav class="navbar  navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="/home">CRUD</a>
        <div class=" navbar" id="navbarSupportedContent">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0" id="list">
            <li class="nav-item">
              <a class="nav-link" href="/">Login</a>
            </li>
            <li class="nav-item ms-4">
              <a class="nav-link active" aria-current="page" href="/register">Register</a>
            </li>
        </div>
      </div>
    </nav>

    <div class="container mt-4">
      <form style="width: 100%;" onsubmit="return false" id="form"> 
        
        <div class="row mb-3">
          <label for="nama" class="col-sm-2 col-form-label">Nama</label>
          <div class="col-sm-10">
            <input type="text" class="form-control mb-2" id="nama" required>
          </div>
          <div class="alert alert-warning" role="alert" id="namaHelp" >
            Nama sudah digunakan
          </div>
        </div>

        <div class="row mb-3">
          <label for="email" class="col-sm-2 col-form-label">Email</label>
          <div class="col-sm-10">
            <input type="email" class="form-control mb-2" id="email" required>
          </div>
          <div class="alert alert-warning" role="alert" id="emailHelp" >
            Email sudah digunakan
          </div>
        </div>

        <div class="row mb-3">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-10 input-icons">
            <i
              class="far fa-eye icon"
              id="togglePassword" 
            ></i>
            <input type="password" class="input-field form-control mb-2 icon" id="password">
          </div>
          <div class="alert alert-warning" role="alert" id="passHelp" >
            Password sudah digunakan
          </div>
        </div>

        <div class="text-center">
          <button type="submit" class="btn btn-primary" id="login-btn">Register</button>
        </div>
      </form>
    </div>
  
    <script src="js/register.js"></script>

  </body>
</html>
